/* Medidas */
.max-width-1200 {
  max-width: 1200px;
}

.img-height {
  height: 350px
}

.font-size-brand {
  font-size: 39px;
}

.font-size-md {
  font-size: 44px;
}

.font-size-sm {
  font-size: 14px
}
.font-size-m {
  font-size: 15px;
}

/* Colores */
.bg-color-grey {
  background-color: #F8F9FA;
}

.bold-600 {
  font-weight: 600;
}

.bold-500 {
  font-weight: 500;
}
.bold-400 {
  font-weight: 400;
}

.light-300 {
  font-weight: 300;
}

.txt-color-grey {
  color: #cfd6e1;
}


/* Nav */
.nav-color-bottom {
  border-bottom: 2px solid red;
}

.nav-color-top {
  border-top: 2px solid red;
}

.nav-link {
  color: white;
  font-weight: 300;
}

.nav-link:hover {
  color: red;
  transition: 0.3s;
}

.navbar .nav-icon {
  margin-right: 20px;
}

.btn-transition {
  transition: 0.3s;
}

.card-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.line-bottom {
  border-bottom: 1px solid #D6D6D6;
}

/* Cart */
.shopping-cart{
	padding-bottom: 50px;
}

.shopping-cart.dark{
	background-color: #f6f6f6;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	/* margin-top: 15px; */
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid red;
    background-color: #F0F0F2;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

.btn-delete{
	color:gray;
	background: none;
	border: none;
	padding: 0;
}

.btn-delete:hover{
	color:#DC3545;
}

@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px; 
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
	}
}



/* Media Queries */
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .navbar-nav {
      max-width: 450px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .navbar-nav {
      max-width: 550px;
  }
}
