/* Medidas */
.max-width-1200 {
  max-width: 1200px;
}

.img-height {
  height: 350px
}

.font-size-brand {
  font-size: 39px;
}

.font-size-md {
  font-size: 44px;
}

/* Colores */
.bg-color-grey {
  background-color: #E9ECEF;
}

.bg-color-grey-body {
  background-color: #F8F9FA;
}

.bold-600 {
  font-weight: 600;
}

.bold-500 {
  font-weight: 500;
}

.light-300 {
  font-weight: 300;
}

.txt-color-grey {
  color: #cfd6e1;
}


/* Nav */
.nav-color-bottom {
  border-bottom: 2px solid red;
}

.nav-color-top {
  border-top: 2px solid red;
}

.nav-link {
  color: white;
  font-weight: 300;
}

.nav-link:hover {
  color: red;
  transition: 0.3s;
}

.navbar .nav-icon {
  margin-right: 20px;
}

/* Media Queries */
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .navbar-nav {
      max-width: 450px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .navbar-nav {
      max-width: 550px;
  }
}
